<?php
/**
 * @author Aleš Cankar
 * @copyright Copyright (c) 2018 Optiweb (https://www.optiweb.com)
 * @var $block \Optiweb\ExtendedShelf\Block\AddToCartConfirmation
 */
use \Magento\Framework\Pricing\Helper\Data as Pricing;
?>
<form action="<?php echo $this->getUrl('extendedshelf/index/addtocartpost') ?>" class="form">
    <div class="extended-shelf-table">
        <div class="table-header row">
            <div class="header header0"></div>
            <div class="header header1"><?= __('Name') ?></div>
            <div class="header header2"><?= __('Qty') ?></div>
            <div class="header header3"><?= __('Options') ?></div>
        </div>
        <?php foreach ($block->getCartItems() as $item) : ?>
        <?php $iId = $item['product_id'] ?>
        <div class="item row">
            <?php $product = $block->getProduct($item['product_id']) ?>
            <div class="product-image">
                <a href="<?= $product->getProductUrl() ?>">
                    <img src="<?= $block->getImageUrl($product) ?>" alt="<?= $product->getName() ?>" />
                </a>
            </div>
            <div class="product-name">
                <a href="<?= $product->getProductUrl() ?>"><?php echo $product->getName() ?></a>
                <?php echo $block->getPrice($product) ?>
            </div>
            <div class="item-qty">
                <input type="number" name="items[<?= $iId ?>][qty]" value="<?php echo $item['qty'] ?>" />
            </div>
            <?php if ($item['type'] == 'configurable' && isset($item['super_attribute'])) : ?>
                <div class="option-wrapper">
                    <div class="inner">
                        <?php foreach ($block->getConfigurableOptions($product) as $attribute) : ?>
                        <div class="option">
                            <label for="attribute-<?= $attribute['id'] ?>"><?= $attribute['store_label'] ?></label>
                            <select id="attribute-<?= $attribute['id'] ?>" name="items[<?= $iId ?>][super_attribute][<?= $attribute['attribute_id'] ?>]">
                                <?php foreach ($attribute['values'] as $value) : ?>
                                    <option value="<?= $value['value_index'] ?>" <?php echo ($value['value_index'] == $item['super_attribute'][$attribute['attribute_id']] ) ? 'selected' : '' ?> ><?= $value['store_label'] ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <?php endforeach ?>
                    </div>
                </div>
            <?php elseif($item['type'] == 'bundle' && isset($item['bundle_options'])) : ?>
                <div class="option-wrapper bundle">
                    <div class="table-header row">
                        <div class="header-item"><?= __('Item name') ?></div>
                        <div class="header-item"><?= __('Quantity') ?></div>
                    </div>
                    <input type="hidden" name="items[<?= $iId ?>][product]" value="<?= $iId ?>" />
                    <?php
                    $i = 1;
                    $bundleTotal = 0;
                    ?>
                    <?php foreach($block->getBundleOptions($product) as $bundleOption) : ?>
                        <?php
                        $sId = $bundleOption->getSelectionId();
                        if (!isset($item['bundle_options'][$sId])) { continue; }
                        ?>
                        <div class="bundle-item row">
                            <div class="bundle-item-name">
                                <?php
                                $price = $bundleOption->getPrice();
                                $bundleTotal += ($price * $item['bundle_options'][$sId]);
                                ?>
                                <span><?= $bundleOption->getName() ?></span>
                                <?php echo $this->helper(Pricing::class)->currency($price, true, true) ?>
                            </div>
                            <div class="bundle-item-qty">
                                <input type="text" name="items[<?= $iId ?>][bundle_option_qty][<?= $i ?>]"
                                       value="<?= $item['bundle_options'][$sId] ?>" />
                                <input type="hidden" name="items[<?= $iId ?>][bundle_option][<?= $i++ ?>]" value="<?= $sId ?>">
                            </div>
                        </div>
                    <?php endforeach ?>
                    <div class="table-footer row">
                        <div class="footer-item title"><?= __('Bundle total:') ?></div>
                        <div class="footer-item"><?php echo $this->helper(Pricing::class)->currency($bundleTotal, true, true) ?></div>
                    </div>
                </div>
            <?php elseif ($item['type'] == 'downloadable') : ?>
            <div class="option-wrapper downloadable-links">
                <div class="header"><?= __('Downloads') ?></div>
                <ul>
                <?php foreach ($block->getDownloadableLinks($product) as $link) : ?>
                    <?php if (!in_array($link->getId(), $item['links'])) {
                        continue;
                    } ?>
                    <input type="hidden" name="items[<?= $iId ?>][links][]" value="<?php echo $link->getId() ?>">
                    <li><?php echo $link->getTitle() ?></li>
                <?php endforeach ?>
                </ul>
            </div>
            <?php else : ?>
                <div class="option-wrapper empty"></div>
            <?php endif ?>
        </div>
        <?php endforeach ?>
    </div>
    <div class="extended-shelf actions">
        <div class="action main">
            <button type="submit" class="action primary"><?= /* @noEscape */ __('Add these products to my cart') ?></button>
        </div>
    </div>
</form>