<!--
  ~ @author Aleš Cankar
  ~ @copyright Copyright (c) 2018 Optiweb (https://www.optiweb.com)
  -->

<!--@subject {{trans "Shared cart on %store_name from %friend" friend=$name store_name=$store.getFrontendName()}} @-->
<!--@styles
.blue-btn {
    display: block;
    background: #6767ff;
    color: #fff !important;
    padding: 7px 20px 6px;
    line-height: 2;
    font-size: 1.3em;
    max-width: 250px;
    border-radius: 25px;
    margin: 0 auto 40px;
    transition : all .3s;
}
a.blue-btn:hover {
    color : #fff !important;
    background-color : #4141d8;
    text-decoration : none !important;
}
.greeting {
    text-align:center;
    font-size: 17px;
}
.center { text-align : center; }
.email-items .items-footer td {
    padding: 4px 10px;
}
@-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%friend shared these products with you." friend=$name}}<br />
                {{trans "Click the link below to view the items and add them to your cart for fast and easy purchase"}}</p>
        </td>
    </tr>
    <tr>
        <td class="center">
            <a class="blue-btn" href="{{var share_url|raw}}">{{trans "View cart items"}}</a>
        </td>
    </tr>
    <tr class="email-summary">
        {{block class="Magento\Framework\View\Element\Template" area="frontend" template="Optiweb_ExtendedShelf::email/products.phtml" items=$items total=$grand_total}}
    </tr>
</table>
{{template config_path="design/email/footer_template"}}