<?php
/**
 * @author Aleš Cankar
 * @copyright Copyright (c) 2018 Optiweb (https://www.optiweb.com)
 * @var $block \Optiweb\ExtendedShelf\Block\Form
 */
$recaptchaConfig = $block->getRecaptchaConfig();
?>

<?php if ($recaptchaConfig['enable'] && isset($recaptchaConfig['site_key'])) : ?>
<script src='https://www.google.com/recaptcha/api.js?hl=<?= $recaptchaConfig['language'] ?>'></script>
<?php endif ?>
<div id="share-cart-form-wrapper" data-mage-init='{"accordion":{"active":false,"collapsible":true,"animate":500}}'>
    <div data-role="collapsible">
        <div data-role="trigger">
            <span><?= /* @noEscape */ __('Share this cart with a friend') ?></span>
        </div>
        <div class="field-tooltip toggle">
            <span class="field-tooltip-action action-help" tabindex="0"
                  data-toggle="dropdown" data-mage-init='{"dropdown":{"activeClass": "_active"}}'
                  aria-haspopup="true" aria-expanded="false" role="button"></span>
            <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                <span><?php echo __('Your friend will get an e-mail with these products.<br />They will be able to add them to their cart.') ?></span>
            </div>
        </div>
    </div>
    <div data-role="content" style="display:none">
        <form class="form" action="" id="share-cart-form" method="post"
              data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <div class="field name required">
                    <label class="label" for="name">
                        <span><?php /* @escapeNotVerified */ echo __('Your name') ?></span>
                    </label>
                    <div class="control">
                        <input name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Name') ?>"
                               value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>"
                               class="input-text" type="text" data-validate='{"required":true}' />
                    </div>
                </div>
                <div class="field email required">
                    <label class="label" for="email">
                        <span><?php /* @escapeNotVerified */ echo __("Your friend's e-mail(s)") ?></span>
                    </label>
                    <div class="control">
                        <input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>"
                               value="" type="text" data-validate='{"required":true, "validate-emails":true}' />
                        <div class="small"><?= /* @escapeNotVerified */ __('You can add multiple addresses, comma seperated.') ?></div>
                    </div>
                </div>
            </fieldset>
            <?php if ($recaptchaConfig['enable'] && isset($recaptchaConfig['site_key'])) : ?>
                <div class="g-recaptcha" data-sitekey="<?= /* @noEscape */ $recaptchaConfig['site_key'] ?>"
                     data-callback="recaptchaSuccess" data-expired-callback="recaptchaExpire"></div>
            <?php endif ?>
            <fieldset class="fieldset">
                <?php echo $block->getChildHtml('form.additional.info'); ?>
                <div class="actions-toolbar">
                    <div class="agreements">
                        <input type="checkbox" name="share_cart_agreement" data-validate='{"required":true}' required />
                        <label for="share_cart_agreement" class="small"><?= /* @noEscape */ __('I acknowledge that the price total is a subject to change.') ?></label>
                    </div>
                    <div class="primary">
                        <input type="hidden" name="hideit" id="hideit" value=""/>
                        <button type="submit" <?= ($recaptchaConfig['enable'] && isset($recaptchaConfig['site_key'])) ? 'disabled' : '' ?>
                                title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary" id="share_cart">
                            <span><?php /* @escapeNotVerified */ echo __('Send products') ?></span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">
    require([
        'jquery',
        'Magento_Customer/js/customer-data',
        'mage/validation'
    ], function($, customerData) {
        var form = $('#share-cart-form');
        $('#share-cart-form-wrapper [data-role="trigger"]').on('click', function () {
            setTimeout(function () {
                $(window).trigger('resize');
            }, 500);
        });
        $('button#share_cart').click(function (e) {
            e.preventDefault();
            if (!form.valid()) {
                return false;
            }
            $.ajax({
                url: '<?php echo $this->getUrl($block::SHARE_CART_SEND_URL) ?>',
                showLoader: true,
                type: 'post',
                data: $("#share-cart-form").serialize(),
                success: function (data) {
                    customerData.set('messages', {
                        messages : [{
                            type : 'success',
                            text : data.message
                        }]
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    navigator.vibrate([80, 25, 80]);
                    grecaptcha.reset()
                }
            });
        });

        recaptchaSuccess = function () {
            $('#share_cart').attr('disabled', false);
        };
        recaptchaExpire = function () {
            navigator.vibrate([80, 25, 80]);
            $('#share_cart').attr('disabled', true);
        }
    });
</script>
