<?php
/**
 * @author Aleš Cankar
 * @copyright Copyright (c) 2018 Optiweb (https://www.optiweb.com)
 * @var \Magento\Framework\View\Element\Template $items
 */
$items = $block->getItems();
?>
<?php if (count($items)) : ?>
    <table class="email-items">
        <thead>
        <tr>
            <th><?= __('Product') ?></th>
            <th><?= __('Price') ?></th>
            <th><?= __('Qty') ?></th>
            <th><?= __('Total') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($items as $item): ?>
            <tr>
                <td>
                    <strong><?= $item->getName() ?></strong>
                </td>
                <td><?= $this->helper('Magento\Framework\Pricing\Helper\Data')
                                    ->currency($item->getPrice()) ?></td>
                <td><?= $item->getQty() ?></td>
                <td><?= $this->helper('Magento\Framework\Pricing\Helper\Data')
                                    ->currency($item->getRowTotal()) ?></td>
            </tr>
        <?php endforeach ?>
        </tbody>
        <tfoot>
        <tr class="items-footer">
            <td colspan="2">&nbsp;</td>
            <td><?= __('Grand total') ?></td>
            <td class="strong"><?= $block->getTotal() ?></td>
        </tr>
        </tfoot>
    </table>
<?php endif ?>
