@charset "UTF-8";
/*!
 * @author Aleš Cankar
 * @copyright Copyright (c) 2018 Optiweb (https://www.optiweb.com)
 */
#share-cart-form-wrapper {
  margin-top: 30px;
  position: relative; }
  #share-cart-form-wrapper [data-role="trigger"] {
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;
    padding: 4px 0; }
  #share-cart-form-wrapper .field-tooltip-content {
    left: auto;
    right: -30px;
    top: auto;
    bottom: 100%;
    margin-bottom: 20px;
    box-shadow: 0 7px 15px -7px rgba(0, 0, 0, 0.3);
    font-size: .9em;
    background-color: #fbfbfb; }
    #share-cart-form-wrapper .field-tooltip-content::before, #share-cart-form-wrapper .field-tooltip-content::after {
      width: 1px;
      top: 100%;
      left: auto;
      right: 29px;
      border-right-color: transparent;
      border-top-color: #fbfbfb; }
    #share-cart-form-wrapper .field-tooltip-content::before {
      border-top-color: #666;
      margin-top: 1px; }

#share-cart-form {
  margin-top: 20px; }
  #share-cart-form .g-recaptcha > div {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0; }
  #share-cart-form .actions-toolbar .primary {
    float: none;
    display: block;
    margin-top: 20px; }
    #share-cart-form .actions-toolbar .primary .action {
      margin: 0;
      float: none;
      width: 100%; }
