@charset "UTF-8";
/*!
 * @author Aleš Cankar
 * @copyright Copyright (c) 2018 Optiweb (https://www.optiweb.com)
 */
.form .option-wrapper > .inner {
  display: flex; }

.extended-shelf-table .row {
  display: flex;
  justify-content: space-between; }
  .extended-shelf-table .row .product-image {
    width: 90px; }
  .extended-shelf-table .row .product-name {
    flex-grow: 1;
    padding: 30px 0; }
    .extended-shelf-table .row .product-name a {
      color: inherit; }
  .extended-shelf-table .row .item-qty {
    width: 70px;
    padding: 20px 0; }
    .extended-shelf-table .row .item-qty input {
      width: 50px; }
  .extended-shelf-table .row .option-wrapper {
    width: 40%; }

.extended-shelf-table .bundle-item {
  margin-bottom: 3px;
  align-items: center; }

.extended-shelf-table .table-header {
  font-weight: bold; }

.extended-shelf-table > .row {
  padding: 10px 20px; }

.extended-shelf-table .item:nth-child(even) {
  background-color: #fafafa; }

.extended-shelf-table .header0 {
  width: 90px; }

.extended-shelf-table .header1 {
  flex-grow: 1; }

.extended-shelf-table .header2 {
  width: 70px; }

.extended-shelf-table .header3 {
  width: 40%; }

.extended-shelf-table .option-wrapper .option {
  max-width: 100px;
  margin-right: 10px; }

.extended-shelf-table .downloadable-links {
  display: flex; }
  .extended-shelf-table .downloadable-links .header {
    font-weight: bold; }
  .extended-shelf-table .downloadable-links ul {
    list-style-type: none;
    padding-left: 1.5em;
    margin-bottom: 0; }
    .extended-shelf-table .downloadable-links ul li {
      margin-bottom: .2em; }

.extended-shelf-table .table-footer {
  color: #bbb;
  margin-top: .5em; }

.extended-shelf.actions {
  text-align: right;
  margin-top: 1em; }
  .extended-shelf.actions .action {
    font-size: 1.25em;
    line-height: 1; }
