/*
 * @author Aleš Cankar
 * @copyright Copyright (c) 2018 Optiweb (https://www.optiweb.com)
 */
.form {
    .option-wrapper > .inner {
        display : flex;
    }
}

.extended-shelf-table {
    .row {
        display         : flex;
        justify-content : space-between;
        .product-image {
            width : 90px;
        }
        .product-name {
            flex-grow : 1;
            padding   : 30px 0;
            a { color : inherit }
        }
        .item-qty {
            width   : 70px;
            padding : 20px 0;
            input {width : 50px }
        }
        .option-wrapper {
            width : 40%;
        }
    }
    .bundle-item {
        margin-bottom: 3px;
        align-items: center;
    }
    .table-header {
        font-weight : bold;
    }
    > .row {
        padding : 10px 20px;
    }
    .item {
        &:nth-child(even) {
            background-color : #fafafa;
        }
    }
    .header0 { width : 90px }
    .header1 { flex-grow : 1 }
    .header2 { width : 70px }
    .header3 { width : 40% }
    .option-wrapper {
        .option {
            max-width    : 100px;
            margin-right : 10px;
        }
    }
    .downloadable-links {
        display : flex;
        .header {font-weight : bold }
        ul {
            list-style-type : none;
            padding-left    : 1.5em;
            margin-bottom   : 0;
            li { margin-bottom : .2em }
        }
    }
    .table-footer {
        color: #bbb;
        margin-top: .5em;
    }
}
.extended-shelf.actions {
    text-align : right;
    margin-top : 1em;
    .action {
        font-size   : 1.25em;
        line-height : 1;
    }
}
